blinker==1.3
chardet==2.3.0
cloud-init==18.3
configobj==5.0.6
cryptography==3.2
httplib2==0.18.0
idna==2.2
Jinja2==2.10.1
jsonpatch==1.10
jsonpointer==1.10
jsonschema==2.5.1
keyring==10.1
keyrings.alt==1.3
MarkupSafe==0.23
oauthlib==2.0.1
pyasn1==0.1.9
pycrypto==2.6.1
pycurl==7.43.0
pygobject==3.22.0
PyJWT==1.4.2
pyserial==3.2.1
python-apt==1.4.0b3
python-debian==0.1.30
python-debianbts==2.6.1
pyxdg==0.26
PyYAML==5.1
reportbug==7.1.7
requests==2.20.0
SecretStorage==2.3.1
six==1.10.0
unattended-upgrades==0.1
urllib3==1.24.2
